# Introducción

Vamos a analizar un conjunto de datos de canciones y sus estadísticas por semanas: `listas_musica.csv`

Es un conjunto de datos que nos permite trabajar los conceptos de `pandas` y `numpy`.

El ejercicio será guiado aunque se permite no ver las soluciones para realizar las tareas.

Las columnas del `dataset` son:

* `date`:	Tipo `date` - Fecha de la lista.
* `rank`:	Tipo `int`	- Posición del ranking de la canción en esa fecha.
* `song`:	Tipo `str`	- Nombre de la canción.
* `artist`:	Tipo `str` - Artista.
* `last-week`:	Tipo `int` -	Posición en el ranking de la semana anterior.
* `peak-rank`: Tipo `int`	- La mejor posición de la canción en el ranking.
* `weeks-on-board`: Tipo `int` -	Número de semanas que la canción lleva en la lista.

# Carga de librerías

Cargue las librerías `numpy`, `pandas` y `os`.

### Solución

In [1]:
import numpy as np
import pandas as pd
import os

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
data = pd.read_csv('/content/drive/MyDrive/egercicio 1/listas_musica.csv')

# Carga del dataset

Lea el dataset y conviértalo en un `dataframe`.

Imprima el dataset una vez lo tenga.

### Solución

In [6]:
data

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,2021-11-06,1,Easy On Me,Adele,1.0,1,3
1,2021-11-06,2,Stay,The Kid LAROI & Justin Bieber,2.0,1,16
2,2021-11-06,3,Industry Baby,Lil Nas X & Jack Harlow,3.0,1,14
3,2021-11-06,4,Fancy Like,Walker Hayes,4.0,3,19
4,2021-11-06,5,Bad Habits,Ed Sheeran,5.0,2,18
...,...,...,...,...,...,...,...
330082,1958-08-04,96,Over And Over,Thurston Harris,NaN,96,1
330083,1958-08-04,97,I Believe In You,Robert & Johnny,NaN,97,1
330084,1958-08-04,98,Little Serenade,The Ames Brothers,NaN,98,1
330085,1958-08-04,99,I'll Get By (As Long As I Have You),Billy Williams,NaN,99,1
330086,1958-08-04,100,Judy,Frankie Vaughan,NaN,100,1

#Limpieza de datos

Rellene con `0` usando `fillna()`.

### Solución

In [7]:
data = data.fillna(0)

# Imprima algunos valores de ejemplos

Use `tail()` para imprimir algunos valores.

Fíjese en las columnas del dataset.

### Solución

In [8]:
data.tail()

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
330082,1958-08-04,96,Over And Over,Thurston Harris,0.0,96,1
330083,1958-08-04,97,I Believe In You,Robert & Johnny,0.0,97,1
330084,1958-08-04,98,Little Serenade,The Ames Brothers,0.0,98,1
330085,1958-08-04,99,I'll Get By (As Long As I Have You),Billy Williams,0.0,99,1
330086,1958-08-04,100,Judy,Frankie Vaughan,0.0,100,1

# Calcule los top 30 artistas

Puede usar la función `value_counts()` y `head(...)`.

Fíjese en usar la columna correspondiente.

### Solución

In [9]:
data['artist'].value_counts().head(30)

Taylor Swift             1023
Elton John                889
Madonna                   857
Drake                     787
Kenny Chesney             769
Tim McGraw                731
Keith Urban               673
Stevie Wonder             659
Rod Stewart               657
Mariah Carey              621
Michael Jackson           611
Chicago                   607
Rascal Flatts             604
Billy Joel                588
The Rolling Stones        585
The Beatles               585
Jason Aldean              572
Aretha Franklin           569
Rihanna                   566
P!nk                      564
Whitney Houston           561
Brad Paisley              559
Neil Diamond              553
George Strait             553
Luke Bryan                543
Carrie Underwood          541
Daryl Hall John Oates     540
The Beach Boys            531
Toby Keith                526
Bee Gees                  516
Name: artist, dtype: int64

# Muestre el top 15 de canciones junto con su cantante

### Solución

In [11]:
data[['artist','song']].value_counts().head(15)

artist                                     song
The Weeknd                                 Blinding Lights                        90
Imagine Dragons                            Radioactive                            87
AWOLNATION                                 Sail                                   79
Jason Mraz                                 I'm Yours                              76
LeAnn Rimes                                How Do I Live                          69
LMFAO Featuring Lauren Bennett & GoonRock  Party Rock Anthem                      68
OneRepublic                                Counting Stars                         68
Jewel                                      Foolish Games/You Were Meant For Me    65
Adele                                      Rolling In The Deep                    65
Carrie Underwood                           Before He Cheats                       64
The Lumineers                              Ho Hey                                 62
Lifehouse                                  You And Me                             62
Gabby Barrett Featuring Charlie Puth       I Hope                                 62
Post Malone                                Circles                                61
Imagine Dragons                            Demons                                 61
dtype: int64

#Muestre el top 10 de los artistas, canciones y su mejor posición

### Solución

In [30]:
data[['artist','song']].value_counts().head(10)

artist                                     song
The Weeknd                                 Blinding Lights                        90
Imagine Dragons                            Radioactive                            87
AWOLNATION                                 Sail                                   79
Jason Mraz                                 I'm Yours                              76
LeAnn Rimes                                How Do I Live                          69
LMFAO Featuring Lauren Bennett & GoonRock  Party Rock Anthem                      68
OneRepublic                                Counting Stars                         68
Jewel                                      Foolish Games/You Were Meant For Me    65
Adele                                      Rolling In The Deep                    65
Carrie Underwood                           Before He Cheats                       64
dtype: int64

# Artistas más reproducidos por semanas

Transforme la columna `date` en `datetime`.

Use  `set_index` para crear un índice en la columna `date`.

Imprima el dataframe con el nuevo índice.

### Solución

In [ ]:
dataframe()

In [36]:
pd = pd.DataFrame({"artista": ["Monday","Tus","Wend"]})
 df.set_index("artista")

IndentationError: ignored

# Encuentre los más y menos escuchados según un intervalo de tiempo

Puede usar `resample(frecuencia)[columna]`. 

Las frecuencias que puede usar son:
* H - Horaria
* D - Diaria
* W - Semanal
* M - Mensual
* A - Anual

Puede usar `.agg([columnas])` para agregar los datos

### Solución