# Introducción

Vamos a analizar un conjunto de datos de canciones y sus estadísticas por semanas: `listas_musica.csv`

Es un conjunto de datos que nos permite trabajar los conceptos de `pandas` y `numpy`.

El ejercicio será guiado aunque se permite no ver las soluciones para realizar las tareas.

Las columnas del `dataset` son:

* `date`:	Tipo `date` - Fecha de la lista.
* `rank`:	Tipo `int`	- Posición del ranking de la canción en esa fecha.
* `song`:	Tipo `str`	- Nombre de la canción.
* `artist`:	Tipo `str` - Artista.
* `last-week`:	Tipo `int` -	Posición en el ranking de la semana anterior.
* `peak-rank`: Tipo `int`	- La mejor posición de la canción en el ranking.
* `weeks-on-board`: Tipo `int` -	Número de semanas que la canción lleva en la lista.

# Carga de librerías

Cargue las librerías `numpy`, `pandas` y `os`.

### Solución

In [64]:
import numpy as np
import pandas as pd
import os

# Carga del dataset

Lea el dataset y conviértalo en un `dataframe`.

Imprima el dataset una vez lo tenga.

In [65]:
#aqui voy a enlazar mi carpeta de datos con el notebook 
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

### Solución

In [66]:
data_music = pd.read_csv('/content/drive/MyDrive/ranking de músicas/listas_musica.csv')

#Limpieza de datos

Rellene con `0` usando `fillna()`.

In [67]:
#voy a ver un poco por encima mi dataframe, y tengo un cholón de filas y 7 columnas!!
data_music.info

<bound method DataFrame.info of               date  rank                                 song  \
0       2021-11-06     1                           Easy On Me
1       2021-11-06     2                                 Stay
2       2021-11-06     3                        Industry Baby
3       2021-11-06     4                           Fancy Like
4       2021-11-06     5                           Bad Habits
...            ...   ...                                  ...
330082  1958-08-04    96                        Over And Over
330083  1958-08-04    97                     I Believe In You
330084  1958-08-04    98                      Little Serenade
330085  1958-08-04    99  I'll Get By (As Long As I Have You)
330086  1958-08-04   100                                 Judy

                               artist  last-week  peak-rank  weeks-on-board
0                               Adele        1.0          1               3
1       The Kid LAROI & Justin Bieber        2.0          1              16
2             Lil Nas X & Jack Harlow        3.0          1              14
3                        Walker Hayes        4.0          3              19
4                          Ed Sheeran        5.0          2              18
...                               ...        ...        ...             ...
330082                Thurston Harris        NaN         96               1
330083                Robert & Johnny        NaN         97               1
330084              The Ames Brothers        NaN         98               1
330085                 Billy Williams        NaN         99               1
330086                Frankie Vaughan        NaN        100               1

[330087 rows x 7 columns]>

### Solución

In [68]:
data_music.fillna(0)

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,2021-11-06,1,Easy On Me,Adele,1.0,1,3
1,2021-11-06,2,Stay,The Kid LAROI & Justin Bieber,2.0,1,16
2,2021-11-06,3,Industry Baby,Lil Nas X & Jack Harlow,3.0,1,14
3,2021-11-06,4,Fancy Like,Walker Hayes,4.0,3,19
4,2021-11-06,5,Bad Habits,Ed Sheeran,5.0,2,18
...,...,...,...,...,...,...,...
330082,1958-08-04,96,Over And Over,Thurston Harris,0.0,96,1
330083,1958-08-04,97,I Believe In You,Robert & Johnny,0.0,97,1
330084,1958-08-04,98,Little Serenade,The Ames Brothers,0.0,98,1
330085,1958-08-04,99,I'll Get By (As Long As I Have You),Billy Williams,0.0,99,1
330086,1958-08-04,100,Judy,Frankie Vaughan,0.0,100,1

# Imprima algunos valores de ejemplos

Use `tail()` para imprimir algunos valores.

Fíjese en las columnas del dataset.

### Solución

In [69]:
data_music.tail()

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
330082,1958-08-04,96,Over And Over,Thurston Harris,NaN,96,1
330083,1958-08-04,97,I Believe In You,Robert & Johnny,NaN,97,1
330084,1958-08-04,98,Little Serenade,The Ames Brothers,NaN,98,1
330085,1958-08-04,99,I'll Get By (As Long As I Have You),Billy Williams,NaN,99,1
330086,1958-08-04,100,Judy,Frankie Vaughan,NaN,100,1

In [70]:
#también puedo ver la cabeza de mi dataframe
data_music.head()

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,2021-11-06,1,Easy On Me,Adele,1.0,1,3
1,2021-11-06,2,Stay,The Kid LAROI & Justin Bieber,2.0,1,16
2,2021-11-06,3,Industry Baby,Lil Nas X & Jack Harlow,3.0,1,14
3,2021-11-06,4,Fancy Like,Walker Hayes,4.0,3,19
4,2021-11-06,5,Bad Habits,Ed Sheeran,5.0,2,18

# Calcule los top 30 artistas

Puede usar la función `value_counts()` y `head(...)`.

Fíjese en usar la columna correspondiente.

### Solución

In [71]:
#cuento el número de veces que aparece el artista y pido que me muestre el encabezado pero hasta 30,
#obteniendo un listado de los 30 artistas que más canciones han salido en el ranking
data_music.value_counts(['artist']).head(30)

artist
Taylor Swift             1023
Elton John                889
Madonna                   857
Drake                     787
Kenny Chesney             769
Tim McGraw                731
Keith Urban               673
Stevie Wonder             659
Rod Stewart               657
Mariah Carey              621
Michael Jackson           611
Chicago                   607
Rascal Flatts             604
Billy Joel                588
The Rolling Stones        585
The Beatles               585
Jason Aldean              572
Aretha Franklin           569
Rihanna                   566
P!nk                      564
Whitney Houston           561
Brad Paisley              559
Neil Diamond              553
George Strait             553
Luke Bryan                543
Carrie Underwood          541
Daryl Hall John Oates     540
The Beach Boys            531
Toby Keith                526
Bee Gees                  516
dtype: int64

# Muestre el top 15 de canciones junto con su cantante

### Solución

In [72]:
# miro a ver cuantas veces sale la canción
#ojito que una misma canción la pueden cantar varios artistas diferentes y un mismo artista puede 
#cantar varias canciones que estén dentro de este ranking

data_music.value_counts('song').head(15)

song
Stay               224
Angel              205
Hold On            202
You                195
Heaven             194
I Like It          188
Crazy              176
Without You        174
Forever            164
Happy              157
Home               152
Please Don't Go    152
Someday            149
Lady               146
Smile              142
dtype: int64

#revisar el notebook de ascii

In [73]:
# ## como se puede enlazar un count a otra columna!! 
#  valor_asociado = tabla_ASCII[tabla_ASCII["Decimal"] == str(valor)]["Caracter"].tolist()[0]
#  ##otra manera distinta de hacerlo!!
#  valor_asociado = tabla_ASCII[tabla_ASCII["Decimal"] == str(valor)].loc[0,"Caracter"]

In [74]:
data_music[['artist', 'song']].value_counts().head(15)

artist                                     song
The Weeknd                                 Blinding Lights                        90
Imagine Dragons                            Radioactive                            87
AWOLNATION                                 Sail                                   79
Jason Mraz                                 I'm Yours                              76
LeAnn Rimes                                How Do I Live                          69
LMFAO Featuring Lauren Bennett & GoonRock  Party Rock Anthem                      68
OneRepublic                                Counting Stars                         68
Jewel                                      Foolish Games/You Were Meant For Me    65
Adele                                      Rolling In The Deep                    65
Carrie Underwood                           Before He Cheats                       64
The Lumineers                              Ho Hey                                 62
Lifehouse                                  You And Me                             62
Gabby Barrett Featuring Charlie Puth       I Hope                                 62
Post Malone                                Circles                                61
Imagine Dragons                            Demons                                 61
dtype: int64

#Muestre el top 10 de los artistas, canciones y su mejor posición

### Solución

In [86]:
data_music[['artist', 'song', 'peak-rank']].value_counts().head(10)

artist                                     song                     peak-rank
The Weeknd                                 Blinding Lights          1            74
Ed Sheeran                                 Shape Of You             1            58
Jason Mraz                                 I'm Yours                6            56
LMFAO Featuring Lauren Bennett & GoonRock  Party Rock Anthem        1            54
The Black Eyed Peas                        I Gotta Feeling          1            54
Justin Timberlake                          Can't Stop The Feeling!  1            52
Taylor Swift                               Shake It Off             1            50
The Chainsmokers Featuring Halsey          Closer                   1            50
Post Malone                                Circles                  1            50
Mark Ronson Featuring Bruno Mars           Uptown Funk!             1            49
dtype: int64

# Artistas más reproducidos por semanas

Transforme la columna `date` en `datetime`.

Use  `set_index` para crear un índice en la columna `date`.

Imprima el dataframe con el nuevo índice.

### Solución

In [92]:
#me creo un dataFrame unicamente con artista, fecha y semanas en listas, y de ahí ordeno por fechas--NO ESTÁ BIEN
## solución: los artistas que más aparezcan en la misma date son los más reproducidos!!
data_music[['artist', 'date', 'weeks-on-board']].sort_values('weeks-on-board')

                                artist        date  weeks-on-board
330086                 Frankie Vaughan  1958-08-04               1
39799   Disclosure Featuring Sam Smith  2014-03-29               1
233197                        Charlene  1977-03-05               1
233195                           Exile  1977-03-05               1
233193                    The Rubinoos  1977-03-05               1
...                                ...         ...             ...
1215                        The Weeknd  2021-08-14              87
39148                  Imagine Dragons  2014-05-10              87
1117                        The Weeknd  2021-08-21              88
1020                        The Weeknd  2021-08-28              89
919                         The Weeknd  2021-09-04              90

[330087 rows x 3 columns]

# Encuentre los más y menos escuchados según un intervalo de tiempo

Puede usar `resample(frecuencia)[columna]`. 

Las frecuencias que puede usar son:
* H - Horaria
* D - Diaria
* W - Semanal
* M - Mensual
* A - Anual

Puede usar `.agg([columnas])` para agregar los datos

### Solución