# Introducción

Vamos a analizar un conjunto de datos de canciones y sus estadísticas por semanas: `listas_musica.csv`

Es un conjunto de datos que nos permite trabajar los conceptos de `pandas` y `numpy`.

El ejercicio será guiado aunque se permite no ver las soluciones para realizar las tareas.

Las columnas del `dataset` son:

* `date`:	Tipo `date` - Fecha de la lista.
* `rank`:	Tipo `int`	- Posición del ranking de la canción en esa fecha.
* `song`:	Tipo `str`	- Nombre de la canción.
* `artist`:	Tipo `str` - Artista.
* `last-week`:	Tipo `int` -	Posición en el ranking de la semana anterior.
* `peak-rank`: Tipo `int`	- La mejor posición de la canción en el ranking.
* `weeks-on-board`: Tipo `int` -	Número de semanas que la canción lleva en la lista.

# Carga de librerías

Cargue las librerías `numpy`, `pandas` y `os`.

### Solución

In [6]:
import numpy as np
import pandas as pd 
import os

# Carga del dataset

Lea el dataset y conviértalo en un `dataframe`.

Imprima el dataset una vez lo tenga.

In [9]:
musica = pd.read_csv("/content/drive/MyDrive/0617/datos/listas_musica.csv")

### Solución

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#Limpieza de datos

Rellene con `0` usando `fillna()`.

### Solución

In [12]:
musica = musica.fillna(0)

# Imprima algunos valores de ejemplos

Use `tail()` para imprimir algunos valores.

Fíjese en las columnas del dataset.

### Solución

In [13]:
musica.tail()

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
330082,1958-08-04,96,Over And Over,Thurston Harris,0.0,96,1
330083,1958-08-04,97,I Believe In You,Robert & Johnny,0.0,97,1
330084,1958-08-04,98,Little Serenade,The Ames Brothers,0.0,98,1
330085,1958-08-04,99,I'll Get By (As Long As I Have You),Billy Williams,0.0,99,1
330086,1958-08-04,100,Judy,Frankie Vaughan,0.0,100,1

# Calcule los top 30 artistas

Puede usar la función `value_counts()` y `head(...)`.

Fíjese en usar la columna correspondiente.

### Solución

In [14]:
top_30_artistas = musica['artist'].head()
print (top_30_artistas)

0                            Adele
1    The Kid LAROI & Justin Bieber
2          Lil Nas X & Jack Harlow
3                     Walker Hayes
4                       Ed Sheeran
Name: artist, dtype: object

In [15]:
top_30_artistas = musica['artist'].value_counts 
print (top_30_artistas)

<bound method IndexOpsMixin.value_counts of 0                                 Adele
1         The Kid LAROI & Justin Bieber
2               Lil Nas X & Jack Harlow
3                          Walker Hayes
4                            Ed Sheeran
                      ...
330082                  Thurston Harris
330083                  Robert & Johnny
330084                The Ames Brothers
330085                   Billy Williams
330086                  Frankie Vaughan
Name: artist, Length: 330087, dtype: object>

In [16]:
top_30_artistas = musica['artist'].value_counts().head (30)
print(top_30_artistas)

Taylor Swift             1023
Elton John                889
Madonna                   857
Drake                     787
Kenny Chesney             769
Tim McGraw                731
Keith Urban               673
Stevie Wonder             659
Rod Stewart               657
Mariah Carey              621
Michael Jackson           611
Chicago                   607
Rascal Flatts             604
Billy Joel                588
The Rolling Stones        585
The Beatles               585
Jason Aldean              572
Aretha Franklin           569
Rihanna                   566
P!nk                      564
Whitney Houston           561
Brad Paisley              559
Neil Diamond              553
George Strait             553
Luke Bryan                543
Carrie Underwood          541
Daryl Hall John Oates     540
The Beach Boys            531
Toby Keith                526
Bee Gees                  516
Name: artist, dtype: int64

# Muestre el top 15 de canciones junto con su cantante

### Solución

In [17]:
top_15_canciones = musica[['artist','song']].value_counts().head (15)
print (top_15_canciones)

artist                                     song
The Weeknd                                 Blinding Lights                        90
Imagine Dragons                            Radioactive                            87
AWOLNATION                                 Sail                                   79
Jason Mraz                                 I'm Yours                              76
LeAnn Rimes                                How Do I Live                          69
LMFAO Featuring Lauren Bennett & GoonRock  Party Rock Anthem                      68
OneRepublic                                Counting Stars                         68
Jewel                                      Foolish Games/You Were Meant For Me    65
Adele                                      Rolling In The Deep                    65
Carrie Underwood                           Before He Cheats                       64
The Lumineers                              Ho Hey                                 62
Lifehouse                                  You And Me                             62
Gabby Barrett Featuring Charlie Puth       I Hope                                 62
Post Malone                                Circles                                61
Imagine Dragons                            Demons                                 61
dtype: int64

#Muestre el top 10 de los artistas, canciones y su mejor posición

### Solución

In [18]:
top_10_artistas = musica[['artist','song','rank']].value_counts().head(10)
print(top_10_artistas)

artist                                             song                                                              rank
Lil Nas X Featuring Billy Ray Cyrus                Old Town Road                                                     1       19
Mariah Carey & Boyz II Men                         One Sweet Day                                                     1       16
Luis Fonsi & Daddy Yankee Featuring Justin Bieber  Despacito                                                         1       16
The Black Eyed Peas                                I Gotta Feeling                                                   1       14
Whitney Houston                                    I Will Always Love You                                            1       14
Boyz II Men                                        I'll Make Love To You                                             1       14
Elton John                                         Candle In The Wind 1997/Something About The Way You Look Tonight  1       14
Mariah Carey                                       We Belong Together                                                1       14
Mark Ronson Featuring Bruno Mars                   Uptown Funk!                                                      1       14
Los Del Rio                                        Macarena (Bayside Boys Mix)                                       1       14
dtype: int64

# Artistas más reproducidos por semanas

Transforme la columna `date` en `datetime`.

Use  `set_index` para crear un índice en la columna `date`.

Imprima el dataframe con el nuevo índice.

In [19]:
musica['date'] = musica['date'].apply(pd.to_datetime)
musica.set_index('date', inplace=True)
musica.head

<bound method NDFrame.head of             rank                                 song  \
date
2021-11-06     1                           Easy On Me
2021-11-06     2                                 Stay
2021-11-06     3                        Industry Baby
2021-11-06     4                           Fancy Like
2021-11-06     5                           Bad Habits
...          ...                                  ...
1958-08-04    96                        Over And Over
1958-08-04    97                     I Believe In You
1958-08-04    98                      Little Serenade
1958-08-04    99  I'll Get By (As Long As I Have You)
1958-08-04   100                                 Judy

                                   artist  last-week  peak-rank  \
date
2021-11-06                          Adele        1.0          1
2021-11-06  The Kid LAROI & Justin Bieber        2.0          1
2021-11-06        Lil Nas X & Jack Harlow        3.0          1
2021-11-06                   Walker Hayes        4.0          3
2021-11-06                     Ed Sheeran        5.0          2
...                                   ...        ...        ...
1958-08-04                Thurston Harris        0.0         96
1958-08-04                Robert & Johnny        0.0         97
1958-08-04              The Ames Brothers        0.0         98
1958-08-04                 Billy Williams        0.0         99
1958-08-04                Frankie Vaughan        0.0        100

            weeks-on-board
date
2021-11-06               3
2021-11-06              16
2021-11-06              14
2021-11-06              19
2021-11-06              18
...                    ...
1958-08-04               1
1958-08-04               1
1958-08-04               1
1958-08-04               1
1958-08-04               1

[330087 rows x 6 columns]>

### Solución

# Encuentre los más y menos escuchados según un intervalo de tiempo

Puede usar `resample(frecuencia)[columna]`. 

Las frecuencias que puede usar son:
* H - Horaria
* D - Diaria
* W - Semanal
* M - Mensual
* A - Anual

Puede usar `.agg([columnas])` para agregar los datos

### Solución

In [23]:
musica.resample('M')['artist'].agg(['first','last'])

,first,last
date,,
1958-08-31,Ricky Nelson,Eileen Rodgers
1958-09-30,Domenico Modugno,Kalin Twins
1958-10-31,Tommy Edwards,The Tune Rockers
1958-11-30,Tommy Edwards,Peggy Lee
1958-12-31,The Teddy Bears,The Ames Brothers
...,...,...
2021-07-31,BTS,Jameson Rodgers Featuring Luke Combs
2021-08-31,BTS,"EST Gee Featuring Lil Baby, 42 Dugg & Rylo Rod..."
2021-09-30,The Kid LAROI & Justin Bieber,Kenny Chesney
2021-10-31,The Kid LAROI & Justin Bieber,Priscilla Block
2021-11-30,Adele,YoungBoy Never Broke Again

In [24]:
musica.resample('A')['artist'].agg(['first','last'])

,first,last
date,,
1958-12-31,Ricky Nelson,The Ames Brothers
1959-12-31,The Chipmunks With David Seville,The Knockouts
1960-12-31,Marty Robbins,Etta & Harvey
1961-12-31,Elvis Presley With The Jordanaires,Jimmie Beaumont
1962-12-31,The Tokens,Don Covay
...,...,...
2017-12-31,The Weeknd Featuring Daft Punk,Calvin Harris Featuring Kehlani & Lil Yachty
2018-12-31,Ed Sheeran,6ix9ine Featuring Nicki Minaj & Kanye West
2019-12-31,Ariana Grande,Trippie Redd Featuring Juice WRLD & YNW Melly
2020-12-31,Mariah Carey,Kid Cudi
2021-12-31,Mariah Carey,YoungBoy Never Broke Again