In [8]:
# En este ejemplo vamos a extraer los datos de COVID de una web
# lo primero, instalamos las librerías y las importamos:
url = 'https://www.worldometers.info/coronavirus/countries-where-coronavirus-has-spread/'

In [4]:
pip install bs4

SyntaxError: ignored

In [5]:
pip install requests

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2022.5.18.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)

In [ ]:
# ¿Qué es texttable? Es una librería para formatear tablas

In [6]:
pip install texttable

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting texttable
  Downloading texttable-1.6.4-py2.py3-none-any.whl (10 kB)
Installing collected packages: texttable
Successfully installed texttable-1.6.4

In [20]:
import requests
from bs4 import BeautifulSoup
import texttable as texttable

In [15]:
# Importamos la web
pagina_covid = requests.get(url)
sopa = BeautifulSoup(pagina_covid.text, 'html.parser')
# Creamos la variable para guardar los datos
datos_covid = []

In [11]:
# Ahora usemos iter().
# La función iter() crea un objeto que se puede iterar, recorrer.
# Estos objetos son útiles cuando se combinan con bucles como for loop, while loop.

# sopa.find_all('td') atrapará todos los enlaces de la tabla
datos_iterados = iter(sopa.findAll('td')) 
# iter recorrerá lña tabla de manera automática

In [17]:
# Este bucle seguirá repitiéndose hasta que haya datos disponibles en el iterador
while True:
    try:
        pais = next(datos_iterados).text
        num_casos_confirmados = next(datos_iterados).text
        num_muertes = next(datos_iterados).text
        continentes = next(datos_iterados).text
 
        # Para 'num_casos_confirmados' and 'num_muertes', 
        # nos aseguramos de eliminar las comas y luego las convertiremos a int
        datos_covid.append((
            pais,
            int(num_casos_confirmados.replace(',', '')),
            int(num_muertes.replace(',', '')),
            continentes
        ))
 
    # StopIteration: se genera un error cuando no quedan más elementos para iterar
    except StopIteration:
        break

In [18]:
# Ordenamos los datos con "sort"
# Es importante recalcar la utilidad de esta función
# Sort en Python: https://docs.python.org/3/howto/sorting.html
datos_covid.sort(key = lambda row: row[1], reverse = True)

In [21]:
# Se crea el objeto de tabla de texto
tabla_datos_covid = texttable.Texttable()
 
# Se agregue una fila vacía al principio para los encabezados
tabla_datos_covid.add_rows([(None, None, None, None)] + datos_covid)
 
# Para formatear la tabla, usamos: 
# 'l' alineado a la izquierda
# 'c' centrado
# 'r' alineado a la derecha

tabla_datos_covid.set_cols_align(('c', 'c', 'c', 'c')) 
tabla_datos_covid.header((' País ', ' Nº de casos ', ' Nº de muertes ', ' Continente '))
 
print(tabla_datos_covid.draw())

+------------------------+---------------+-----------------+-------------------+
|          País          |  Nº de casos  |  Nº de muertes  |     Continente    |
+========================+===============+=================+===================+
|         Brazil         |   30921145    |     666365      |   South America   |
+------------------------+---------------+-----------------+-------------------+
|         France         |   29439416    |     148129      |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|        Germany         |   26254124    |     139132      |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|     United Kingdom     |   22277696    |     178465      |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|         Russia         |   18319848    |     378870      |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|      South Korea       |   18067669    |      24139      |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|         Italy          |   17355119    |     166476      |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|         Turkey         |   15068017    |      98948      |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|         Spain          |   12326264    |     106341      |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|        Vietnam         |   10715247    |      43078      |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|       Argentina        |    9178795    |     128825      |   South America   |
+------------------------+---------------+-----------------+-------------------+
|    Japan (+Diamond     |    8766579    |      30510      |       Asia        |
|       Princess)        |               |                 |                   |
+------------------------+---------------+-----------------+-------------------+
|      Netherlands       |    8081992    |      22314      |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|          Iran          |    7231284    |     141302      |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|       Australia        |    7189365    |      8432       | Australia/Oceania |
+------------------------+---------------+-----------------+-------------------+
|        Colombia        |    6103455    |     139854      |   South America   |
+------------------------+---------------+-----------------+-------------------+
|       Indonesia        |    6054173    |     156573      |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|         Poland         |    6007073    |     116311      |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|         Mexico         |    5759773    |     324768      |   North America   |
+------------------------+---------------+-----------------+-------------------+
|        Ukraine         |    5011433    |     108538      |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|        Malaysia        |    4500934    |      35658      |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|        Thailand        |    4438999    |      29951      |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|        Austria         |    4246631    |      18651      |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|        Belgium         |    4147568    |      31727      |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|         Israel         |    4130879    |      10839      |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|        Portugal        |    4066674    |      22583      |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|      South Africa      |    3948119    |     101128      |      Africa       |
+------------------------+---------------+-----------------+-------------------+
|     Czech Republic     |    3919600    |      40281      |      Europe       |
|       (Czechia)        |               |                 |                   |
+------------------------+---------------+-----------------+-------------------+
|         Canada         |    3863121    |      40967      |   North America   |
+------------------------+---------------+-----------------+-------------------+
|      Philippines       |    3689865    |      60455      |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|         Chile          |    3675085    |      57867      |   South America   |
+------------------------+---------------+-----------------+-------------------+
|      Switzerland       |    3650661    |      13948      |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|          Peru          |    3578364    |     213155      |   South America   |
+------------------------+---------------+-----------------+-------------------+
|         Greece         |    3439773    |      29771      |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|      North Korea       |    3359380    |       69        |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|        Denmark         |    2982850    |      6344       |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|        Romania         |    2908018    |      65676      |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|         Sweden         |    2507948    |      18944      |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|          Iraq          |    2327777    |      25219      |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|         Serbia         |    2016576    |      16077      |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|       Bangladesh       |    1953379    |      29130      |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|        Hungary         |    1917777    |      46507      |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|         Taiwan         |    1815703    |      1911       |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|        Slovakia        |    1789351    |      20096      |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|         Jordan         |    1694216    |      14048      |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|        Georgia         |    1655221    |      16811      |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|        Ireland         |    1561632    |      7271       |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|        Pakistan        |    1530233    |      30379      |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|         Norway         |    1432687    |      3141       |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|       Kazakhstan       |    1305723    |      13661      |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|       Singapore        |    1290046    |      1383       |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|       Hong Kong        |    1211588    |      9375       |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|        Morocco         |    1167527    |      16076      |      Africa       |
+------------------------+---------------+-----------------+-------------------+
|        Bulgaria        |    1164526    |      37132      |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|      New Zealand       |    1143146    |      1098       | Australia/Oceania |
+------------------------+---------------+-----------------+-------------------+
|        Croatia         |    1136229    |      15979      |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|          Cuba          |    1105181    |      8529       |   North America   |
+------------------------+---------------+-----------------+-------------------+
|        Lebanon         |    1098971    |      10424      |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|        Finland         |    1092193    |      4522       |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|       Lithuania        |    1062296    |      9142       |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|        Tunisia         |    1042362    |      28632      |      Africa       |
+------------------------+---------------+-----------------+-------------------+
|        Slovenia        |    1024482    |      6636       |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|        Belarus         |    982867     |      6978       |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|         Nepal          |    979118     |      11952      |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|        Uruguay         |    916388     |      7227       |   South America   |
+------------------------+---------------+-----------------+-------------------+
|        Bolivia         |    908383     |      21947      |   South America   |
+------------------------+---------------+-----------------+-------------------+
|  United Arab Emirates  |    907069     |      2302       |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|       Costa Rica       |    891038     |      8495       |   North America   |
+------------------------+---------------+-----------------+-------------------+
|        Ecuador         |    876009     |      35622      |   South America   |
+------------------------+---------------+-----------------+-------------------+
|       Guatemala        |    859311     |      18084      |   North America   |
+------------------------+---------------+-----------------+-------------------+
|         Panama         |    847375     |      8244       |   North America   |
+------------------------+---------------+-----------------+-------------------+
|         Latvia         |    828077     |      5823       |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|       Azerbaijan       |    792714     |      9710       |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|      Saudi Arabia      |    765788     |      9140       |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|       Sri Lanka        |    663804     |      16514      |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|        Paraguay        |    650661     |      18894      |   South America   |
+------------------------+---------------+-----------------+-------------------+
|         Kuwait         |    632781     |      2555       |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|        Myanmar         |    613280     |      19434      |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|        Bahrain         |    583530     |      1486       |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|   Dominican Republic   |    582693     |      4377       |   North America   |
+------------------------+---------------+-----------------+-------------------+
|   State of Palestine   |    582363     |      5356       |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|        Estonia         |    576047     |      2561       |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|       Venezuela        |    523540     |      5720       |   South America   |
+------------------------+---------------+-----------------+-------------------+
|        Moldova         |    518793     |      11521      |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|         Egypt          |    515645     |      24613      |      Africa       |
+------------------------+---------------+-----------------+-------------------+
|         Libya          |    501904     |      6430       |      Africa       |
+------------------------+---------------+-----------------+-------------------+
|         Cyprus         |    489963     |      1059       |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|        Ethiopia        |    472048     |      7513       |      Africa       |
+------------------------+---------------+-----------------+-------------------+
|        Mongolia        |    469885     |      2179       |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|        Honduras        |    425113     |      10899      |   North America   |
+------------------------+---------------+-----------------+-------------------+
|        Armenia         |    422939     |      8624       |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|        Réunion         |    414615     |       777       |      Africa       |
+------------------------+---------------+-----------------+-------------------+
|          Oman          |    389473     |      4260       |       Asia        |
+------------------------+---------------+-----------------+-------------------+
| Bosnia and Herzegovina |    377829     |      15787      |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|         Qatar          |    368087     |       677       |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|         Kenya          |    324558     |      5651       |      Africa       |
+------------------------+---------------+-----------------+-------------------+
|         Zambia         |    321503     |      3985       |      Africa       |
+------------------------+---------------+-----------------+-------------------+
|    North Macedonia     |    311701     |      9300       |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|        Botswana        |    307126     |      2695       |      Africa       |
+------------------------+---------------+-----------------+-------------------+
|        Albania         |    276048     |      3497       |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|        Algeria         |    265870     |      6875       |      Africa       |
+------------------------+---------------+-----------------+-------------------+
|        Nigeria         |    256028     |      3143       |      Africa       |
+------------------------+---------------+-----------------+-------------------+
|        Zimbabwe        |    251959     |      5500       |      Africa       |
+------------------------+---------------+-----------------+-------------------+
|       Luxembourg       |    244182     |      1073       |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|       Uzbekistan       |    238983     |      1637       |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|       Montenegro       |    237000     |      2720       |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|       Mozambique       |    225676     |      2203       |      Africa       |
+------------------------+---------------+-----------------+-------------------+
|         China          |    223933     |      5226       |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|          Laos          |    209950     |       756       |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|       Kyrgyzstan       |    200993     |      2991       |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|        Iceland         |    187664     |       153       |      Europe       |
+------------------------+---------------+-----------------+-------------------+
|      Afghanistan       |    180122     |      7701       |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|        Maldives        |    179662     |       298       |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|       Martinique       |    169620     |       936       |   North America   |
+------------------------+---------------+-----------------+-------------------+
|        Namibia         |    165797     |      4035       |      Africa       |
+------------------------+---------------+-----------------+-------------------+
|         Uganda         |    164069     |      3596       |      Africa       |
+------------------------+---------------+-----------------+-------------------+
|      El Salvador       |    162755     |      4131       |   North America   |
+------------------------+---------------+-----------------+-------------------+
|         Ghana          |    161370     |      1445       |      Africa       |
+------------------------+---------------+-----------------+-------------------+
|  Trinidad and Tobago   |    160493     |      3903       |   North America   |
+------------------------+---------------+-----------------+-------------------+
|         Brunei         |    147872     |       223       |       Asia        |
+------------------------+---------------+-----------------+-------------------+
|       Guadeloupe       |    140130     |       854       |   North America   |

In [26]:
# Si quisiéramos volcar dicha información en un Dataframe, ¿cómo se plantearia?
import pandas as pd

columnas_datos_covid = ['País', 'Nº de casos ', 'Nº de muertes', 'Continente']
dataframe_covid = pd.DataFrame (datos_covid, columns = columnas_datos_covid)
print(dataframe_covid)

               País  Nº de casos   Nº de muertes         Continente
0            Brazil      30921145         666365      South America
1            France      29439416         148129             Europe
2           Germany      26254124         139132             Europe
3    United Kingdom      22277696         178465             Europe
4            Russia      18319848         378870             Europe
..              ...           ...            ...                ...
222      MS Zaandam             9              2
223            Niue             9              0  Australia/Oceania
224           Nauru             8              0  Australia/Oceania
225          Tuvalu             3              0  Australia/Oceania
226    Saint Helena             2              0             Africa

[227 rows x 4 columns]